#root{}
  header{
    background: #ddd;
  }
header ul{
  margin: 0;
  padding: 0;
}
header ul li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
h2{
  margin-top: 2rem !important;
}
ul.list{
  margin-top: 1rem;
  -webkit-padding-start: 0;
}
ul.list li span{
  display: inline-block;
  vertical-align: middle;
}
ul.list li button.btn{
  position: absolute;
  right: 1.25rem;
  top: .75rem;
}
.item{
  width: 55%
}
.price,.quantity{
  width: 12%;
  text-align: center;
}
.total-wrap{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
}
.total-wrap span:nth-child(2){
  float: right;
}
.cart-app-container{
  margin-bottom: 0.5rem;
}
